.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.right-links {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    display: flex;
    padding: 8px;
}

.content-1 {
    display: flex;
    justify-content: space-around;
}

.container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.join-button {
    background: #eee;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}